### Column Descriptions

PatientId - A unique identifier for the patient.
AppointmentID - A unique ID for each appointment booking.
Gender - Patient's gender, Female or Male.
ScheduledDay - The timestamp when the appointment was scheduled (booked).
AppointmentDay - The actual date of the appointment.
Age - Patient's age.
Neighbourhood - The area (district or community) in which the patient lives.
Scholarship - Whether the patient is enrolled in a welfare program (1 = Yes, 0 = No).
Hipertension - Indicates if the patient has high blood pressure (1 = Yes, 0 = No).
Diabetes - Indicates if the patient has diabetes (1 = Yes, 0 = No).
Alcoholism - Indicates if the patient is flagged for alcoholism (1 = Yes, 0 = No).
Handcap - Indicates if the patient has a disability (1 = Yes, 0 = No).
SMS_received - Whether the patient received a reminder SMS for the appointment (1 = Yes, 0 = No).
No-show -  (target variable)
           Whether the patient showed up for the appointment.
          "No" means they attended, "Yes" means they missed it.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('HealthcareAppointment.csv')

In [3]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show
0,2.990000e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.590000e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.260000e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.680000e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.840000e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hypertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handicap        110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [5]:
df.shape

(110527, 14)

In [6]:
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  datetime64[ns, UTC]
 4   AppointmentDay  110527 non-null  datetime64[ns, UTC]
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hypertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handicap        110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: datetime64[ns, UTC](2), float64(1), int64(8), object(3)
memory usage: 11.8+ MB

In [8]:
df['WaitingDays'] = (df['AppointmentDay'] - df['ScheduledDay']).dt.days

In [9]:
df['NoShow'] = df['No-show'].map({'No': 0, 'Yes': 1})

In [10]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,WaitingDays,NoShow
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474961e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026,9.183702,0.201933
std,2.560943e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873,15.254996,0.401444
min,3.920000e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-7.000000,0.000000
25%,4.170000e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
50%,3.170000e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
75%,9.440000e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,14.000000,0.000000
max,1.000000e+15,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,178.000000,1.000000

In [12]:
#df.to_csv("no_show_cleaned.csv", index=False)

In [11]:
# Percentage of no-shows
no_show_rate = df['NoShow'].mean()
print(f"No-show rate: {no_show_rate:.2%}")

No-show rate: 20.19%

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore", category=ImportWarning)

In [ ]:
# Gender vs No-show
df['Gender'] = df['Gender'].astype(str)
df['NoShow'] = df['NoShow'].astype(str)

sns.countplot(data=df, x='Gender', hue='NoShow')
plt.title('No-show by Gender')
plt.show()

In [ ]:
# Age distribution
sns.histplot(df['Age'], bins=30, kde=True)
plt.title('Age Distribution')
plt.show()

In [ ]:
# No-show vs Waiting Days
sns.boxplot(data=df, x='NoShow', y='WaitingDays')
plt.title('Waiting Days vs No-show')
plt.show()

In [ ]:
# No-show by Scholarship
sns.barplot(data=df, x='NoShow', y='Scholarship')
plt.title('No-show rate by Scholarship')
plt.show()

### Feature Engineering

In [ ]:
# Remove negative waiting days (if any)
df = df[df['WaitingDays'] >= 0]

In [ ]:
df.shape

In [ ]:
# Encode categorical variables
from sklearn.preprocessing import LabelEncoder
label_enc = LabelEncoder()
df['Gender'] = label_enc.fit_transform(df['Gender'])  # F:0, M:1

In [ ]:
# Drop unnecessary columns
df_model = df.drop(['PatientId', 'AppointmentID', 'ScheduledDay', 'AppointmentDay', 'No-show', 'Neighbourhood'], axis=1)

In [ ]:
df_model.reset_index(drop=True, inplace=True)

In [ ]:
df_model.head()

### Split the data for Train and Test

In [ ]:
from sklearn.model_selection import train_test_split
X = df_model.drop('NoShow', axis=1)
y = df_model['NoShow']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train, y_train)

y_pred_log = log_reg.predict(X_test)

print("Logistic Regression Report:")
print(classification_report(y_test, y_pred_log))

### Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

y_pred_rf = rf.predict(X_test)

print("Random Forest Report:")
print(classification_report(y_test, y_pred_rf))

In [ ]:
cm = confusion_matrix(y_test, y_pred_rf)
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
plt.title('Confusion Matrix - Random Forest')
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.show()

In [ ]:
feat_importance = pd.Series(rf.feature_importances_, index=X.columns)
feat_importance.sort_values().plot(kind='barh')
plt.title("Feature Importance - Random Forest")
plt.show()

In [ ]:
from sklearn.model_selection import cross_val_score

# Logistic Regression CV
log_reg_cv = LogisticRegression(max_iter=1000)
log_cv_scores = cross_val_score(log_reg_cv, X, y, cv=5, scoring='accuracy')
print(f"Logistic Regression CV Accuracy: {log_cv_scores.mean():.4f}")

# Random Forest CV
rf_cv = RandomForestClassifier(n_estimators=100, random_state=42)
rf_cv_scores = cross_val_score(rf_cv, X, y, cv=5, scoring='accuracy')
print(f"Random Forest CV Accuracy: {rf_cv_scores.mean():.4f}")

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5],
}

grid_rf = GridSearchCV(
    estimator=RandomForestClassifier(random_state=42),
    param_grid=param_grid,
    cv=3,
    scoring='accuracy',
    n_jobs=-1,
    verbose=1
)

grid_rf.fit(X_train, y_train)
print("Best Parameters:", grid_rf.best_params_)

# Best model evaluation
best_rf = grid_rf.best_estimator_
y_pred_best = best_rf.predict(X_test)
print(classification_report(y_test, y_pred_best))

### XGBoost

In [ ]:
y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [ ]:
from xgboost import XGBClassifier

xgb = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
xgb.fit(X_train, y_train)

y_pred_xgb = xgb.predict(X_test)
print("XGBoost Report:")
print(classification_report(y_test, y_pred_xgb))

### Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(max_depth=5, random_state=42)
dt.fit(X_train, y_train)

y_pred_dt = dt.predict(X_test)
print("Decision Tree Report:")
print(classification_report(y_test, y_pred_dt))

### Compare All Models

In [ ]:
from sklearn.metrics import accuracy_score

for name, model in models.items():
    y_pred = model.predict(X_test)
    
    # Convert string predictions like ['0', '1'] to integers if needed
    if y_pred.dtype.kind in {'U', 'S', 'O'}:  # string-like or object
        y_pred = y_pred.astype(int)

    acc = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy: {acc:.4f}")